{% extends "mainapp/wrapper.html" %}

{% block content %}
  <h2 class="text-info">{{articles.title}}</h2>
  <h6 class="text-info"> Опубликовано: {{articles.date|date:"Y-m-d в H:i:s"}}</h6>
  <p>{{articles.post|safe|linebreaks}}</p>

  {% for post in object_list  %}
    <a href ="/news/{{post.id}}"><h3> {{post.title}} </h3> </a>
    <h5>{{post.date|date:"d-m-Y"}}</h5>
  {% endfor %}
{% endblock %}
