{% extends "mainapp/wrapper.html" %}

{% block content %}
<p>Здравие желай и не забывай давать приветствие</p>

{% include "mainapp/includes/some_html.html" %}
{% include "mainapp/includes/some_html.html" %}
{% include "mainapp/includes/some_html.html" %}
<p>Проверка этого гребаномоного сайта с его идиотским доменом</p>
{% endblock %}
