<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Заголовой страницы</title>
  {% load static %}
  <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %} type= "text/css">
</head>

<body>
  <div class="jumbotron">
      <div class="container">
        <h1>{% include "mainapp/includes/some_html.html" %}</h1>
        {% block content %}
        {% endblock %}
        <p>
          <a href="/" class="btn btn-success btn-lg" data-toggle="tooltip" data-placement="top" title="Эй, макака, ты умная или тупая?"> Главная страница</a>
          <a href="/news" class="btn btn-primary btn-lg">Новости &raquo;</a>
          <a href="/contact" class="btn btn-info btn-lg" data-toggle="tooltip" data-placement="top" title="Не тыкай, чудик">Контакты &raquo;</a>

        </p>
      </div>
    </div>
    <div class="container">
     <img src="{% static 'mainapp/images/popu.jpg' %}" class="img-thumbnail" data-toggle="tooltip" data-placement="top" title="Вот она, моя красотка....А ну, быстро убрал свои похотливые глаза от неё!">
     <hr>
     &copy; Все права защищены 2032 годик
    </div>


</body>
</html>
